.top-bar {
   height: 40px;
   background-color: #222;
}

.left-top-bar {
   font-size: 12px !important;
   line-height: 1.8 !important;
   color: #b2b2b2;
}

/*---------------------------------------------*/
.right-top-bar a {
   font-size: 12px !important;
   line-height: 1.8 !important;

   height: 100%;
   color: #b2b2b2;
   border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.right-top-bar a:first-child {
   border-left: 1px solid rgba(255, 255, 255, 0.3);
}