@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-carousel {
  .slick-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 10;
  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 10;
  }

  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    width: 45px;
    height: 45px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #444;
  }

  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: transparent;
    outline: none;
    background: #333;
  }
}